<html lang="en">
 
<head>
 
    <title></title>
 
    <link href="https://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="blog.css" rel="stylesheet">
 
 
</head>
 
<body ng-controller="AddMateriaCtrl">
 
    <div class="blog-masthead">
        <div class="container">
            <nav class="blog-nav">
                <a class="blog-nav-item " href="#/welcome">Inicio</a>
                <a class="blog-nav-item active" href="#/addMateria">Agregar Materia</a>
                <a class="blog-nav-item " style="cursor:pointer;" ng-click="logout();">Salir</a>
            </nav>
        </div>
    </div>
 
    <div class="container">
 
        <form class="form-horizontal" ng-submit="AgregarMateria()">
            <fieldset>
 
                <!-- Form Name -->
                <legend>Agregar Materia</legend>
 
                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="txtTitle">Titulo</label>
                    <div class="col-md-4">
                        <input id="txtTitle" ng-model="materia.titulo" name="txtTitle" type="text" placeholder="Titulo" class="form-control input-md">
 
                    </div>
                </div>
 
                <!-- Textarea -->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="txtPost">Descripción</label>
                    <div class="col-md-4">
                        <textarea ng-model="materia.descripcion" class="form-control" id="txtPost" name="txtPost"></textarea>
                    </div>
                </div>
 
                <!-- Button -->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="singlebutton"></label>
                    <div class="col-md-4">
                        <input id="singlebutton" name="singlebutton" class="btn btn-primary" type="submit" value="Agregar" ng-disabled="!materia.titulo || !materia.descripcion" />
                    </div>
                </div>
 
            </fieldset>
        </form>
 
 
    </div>
    <!-- /.container -->
 
    <div class="blog-footer">
        <p>App para Luis</p>
 
    </div>
 
</body>
 
</html>