<html lang="en">
 
<head>
 
    <title></title>
 
    <link href="https://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="blog.css" rel="stylesheet">
 
 
</head>
 
<body ng-controller="AddHorariosCtrl">
 
    <div class="blog-masthead">
        <div class="container">
            <nav class="blog-nav">
                <a class="blog-nav-item " href="#/welcome">Inicio</a>
                <a class="blog-nav-item " href="#/addProfesor">Agregar Profesor</a>
                <a class="blog-nav-item " href="#/addMateria">Agregar Materia</a>
                <a class="blog-nav-item active " href="#/AddHorarios">Agregar Horario</a>
                <a class="blog-nav-item " href="#/verProfesores">Ver Profesores</a>
                <a class="blog-nav-item " style="cursor:pointer;" ng-click="logout();">Salir</a>
            </nav>
        </div>
    </div>
    <div class="container">
 
        <form class="form-horizontal" ng-submit="AgregarHorarios()">
                        
            <fieldset>
 
                <!-- Form Name -->
                <legend>Agregar Materia</legend>
                    
                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="txtTitle">Dia</label>
                    <div class="col-md-4">
                        <select name="Dias" ng-model="horario.dia">
                        <option value="Lunes">Lunes</option>
                        <option value="Martes">Martes</option>
                        <option value="Miercoles">Miercoles</option>
                        <option value="Jueves">Jueves</option>
                        <option value="Viernes">Viernes</option>
                        </select>
                    </div>
                </div>
 
                <!-- Hora entrada-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="txtTitle">Hora de entrada</label>
                    <div class="col-md-4">
                        <select name="hora1" ng-model="horario.horaDesde">
                        <option value="08:00">08:00</option>
                        <option value="09:00">09:00</option>
                        <option value="10:00">10:00</option>
                        <option value="11:00">11:00</option>
                        <option value="12:00">12:00</option>
                        <option value="13:00">13:00</option>
                        <option value="14:00">14:00</option>
                        <option value="15:00">15:00</option>
                        <option value="16:00">16:00</option>
                        <option value="17:00">17:00</option>
                        <option value="18:00">18:00</option>
                        <option value="19:00">19:00</option>
                        <option value="20:00">20:00</option>
                        <option value="21:00">21:00</option>
                        <option value="22:00">22:00</option>
                        </select>
                    </div>
                </div>              
                
                <!-- Hora de Salida-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="txtTitle">Hora de salida</label>
                    <div class="col-md-4">
                        <select name="hora1" ng-model="horario.horaHasta">
                        <option value="09:00">09:00</option>
                        <option value="10:00">10:00</option>
                        <option value="11:00">11:00</option>
                        <option value="12:00">12:00</option>
                        <option value="13:00">13:00</option>
                        <option value="14:00">14:00</option>
                        <option value="15:00">15:00</option>
                        <option value="16:00">16:00</option>
                        <option value="17:00">17:00</option>
                        <option value="18:00">18:00</option>
                        <option value="19:00">19:00</option>
                        <option value="20:00">20:00</option>
                        <option value="21:00">21:00</option>
                        <option value="22:00">22:00</option>
                        </select>
                    </div>
                </div> 

                <!-- Materias-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="txtTitle">Materia</label>
                    <div class="col-md-4">
                        <select name="Dias" ng-model="horario.idMateria" >
                                <option ng-repeat="materia in materias" value="{{materia.$id}}">
                                    {{materia.titulo}}
                                </option>
                        </select>
                    </div>
                </div>

                <!-- Profesores-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="txtTitle">Profesor</label>
                    <div class="col-md-4">
                        <select name="Dias" ng-model="horario.idProfesor" >
                                <option ng-repeat="profesor in profesores" value="{{profesor.$id}}">{{profesor.nombre +' '+profesor.apellido}}</option>
                        </select>
                    </div>
                </div>
                <!-- Button -->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="singlebutton"></label>
                    <div class="col-md-4">
                        <input id="singlebutton" name="singlebutton" class="btn btn-primary" type="submit" value="Agregar" ng-disabled="!horario.idMateria || !horario.idProfesor" />
                    </div>
                </div>
 
            </fieldset>
        </form>
 
 
    </div>
    <!-- /.container -->
 
    <div class="blog-footer">
        <p>App para Luis</p>
 
    </div>
 
</body>
 
</html>